<h1>JSON CONVERTER</h1>

<div class="container">
  <div>
    <label for="fileUpload" class="file-upload">
      <input type="file" accept=".xls, .xlsx" id = "fileUpload" class="file-input" (change)="onFileSelected($event)" />
      Subir Archivo
    </label>
    <button id="convertButton" class="file-upload" (click)="prettyfied()">Pretty</button>
    <div *ngIf="!fileName" id="fileNameDisplay" class="file-upload">No se ha subido ningun archivo.</div>
  </div>

  <div>
    <textarea id="jsonInput" class="json-input" readonly>{{jsonString}}</textarea>
  </div>
</div>
<router-outlet></router-outlet>
